@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@font-face {
  font-family: "IRANSans";
  src: url("/public/font/fontawesome-webfont.woff2") format("woff2"),
       url("/public/font/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IRANSans", sans-serif;
}

